img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 100%;
  display: flex; 
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .sidebar {
    display: none; 
  }
}

.modal-overlay {
  display: none; 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1000;
}


.modal-overlay:target {
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
max-height: 80vh;   
  overflow-y: auto;  
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  text-decoration: none;
  color: #333;

}

/* 1. The Container - Sits on top of your site */
#opening-screen {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000ed; 
    z-index: 9999; /* cyberd'vil */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    animation: fadeOutScreen 1s ease-in-out 6s forwards;
    pointer-events: none; 
}

@keyframes fadeOutScreen {
    to { 
        opacity: 0; 
        visibility: hidden; 
    }
}

.open-text {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem; 
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 20px #ff00de; 
    
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    letter-spacing: .10em;
    width: 0;
    
    animation: 
        typing 2.5s steps(12, end) forwards,
        blink-caret .80s step-end infinite;
    
    position: relative;
    z-index: 10;
}

@keyframes typing {
    from { width: 0 }
    to { width: 12ch; } 
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
}


.firework, 
.firework::before, 
.firework::after {
    --initialSize: 1.2vmin;
    --finalSize: 115vmin; 
    --particleSize: 0.6vmin;
    --color1: yellow; --color2: khaki; --color3: white;
    --color4: lime; --color5: gold; --color6: mediumseagreen;
    --y: -30vmin; --x: -50%; --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
        
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
}

.firework::before { transform: translate(-50%, -50%) rotate(25deg) !important; }
.firework::after { transform: translate(-50%, -50%) rotate(-37deg) !important; }

.firework:nth-child(2) {
    --x: 32vmin;
}
.firework:nth-child(2), .firework:nth-child(2)::before, .firework:nth-child(2)::after {
    --color1: pink; --color2: violet; --color3: fuchsia; --color4: orchid; --color5: plum; --color6: lavender;
    --finalSize: 90vmin; /* cyberd'vil */
    left: 20%; 
    top: 50%;
    animation-delay: -0.25s;
}

.firework:nth-child(3) {
    --x: -30vmin; --y: -50vmin;
}
.firework:nth-child(3), .firework:nth-child(3)::before, .firework:nth-child(3)::after {
    --color1: cyan; --color2: lightcyan; --color3: lightblue; --color4: palequoturquoise; --color5: skyblue; --color6: lavender;
    --finalSize: 95vmin; /* cyberd'vil */
    left: 82%;
    top: 50%;
    animation-delay: -0.4s;
}
